h1 {
	font-size: 55px;
	font-family: Impact, Charcoal, sans-serif;
}

.quiz-answers
{
    list-style-type: none;
}

.well {
	background-color: #EFF3F5;
}

.right-answer {
	color: #4F9CD9;
}

.wrong-answer {
	color: red;
}

.alert-info {
	background-color: #FCFCD9;
	font-size: 20px;
}

body {
	background-color:#ACABAB;
}
