h1 {
	font-size: 50px;
	font-family: Impact, Charcoal, sans-serif;
}

.quiz-answers
{
    list-style-type: none;
}

.well {
	background-color: #F3F3F3;
}

.right-answer {
	color: #4F9CD9;
}

.wrong-answer {
	color: red;
}

.alert-info {
	background-color: #FCFCD9;
}

